


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background:#238276;
  background-size: 100vw 100vh;
  background-attachment: fixed;

}
.Register-Box{
	padding: 10px;
	margin-top: 60px;

	
   
}

.Register-Box form{
 
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin: auto;
	width: 350px;
	background: #596548;
	padding: 20px;
	box-sizing: border-box;
	
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.Register-Box h4{

	text-align: center;
	font-size: 20px;
	margin: 0 0 10px;
	padding: 0;
	 background:#ffF;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: normal;
	
}

.Register-Box .form-control{
    
	padding: 10px 0;
	margin-bottom: 20px;
	

}


.Register-Box .form-control{
	width: 100%;
	font-size: 14px;
	color:#999;
	box-sizing: border-box;
	box-shadow: none;
	border:none;
	outline: none;
	border-bottom: 1px solid #999;
}

.Register-Box .btn-enviar[type="submit"]{
	width: 100%;
	border: none;
	border-bottom: none;
	cursor: pointer;
	background: #fc7323;
	margin-bottom: 0;
	text-transform: uppercase;
	padding: 8px;
	color: #fff;
	font-family: titillium web;
    border-radius: 4px;
    
}
.Register-Box .btn-enviar[type="submit"]:hover{
      background: #fc7323;
   box-shadow: 0px 1px 3px rgba(0,0,0,.6);	
   transition: 1s;

}

.Register-Box form .form-input{
	position: relative;
}
.Register-Box form .form-input .label-box{
	font-size: 14px;
	position: absolute;
	top: 10px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
}
.Register-Box .form-control:focus ~ .label-box,
.Register-Box .form-control:valid ~ .label-box
{

   top: -10px;
   left: 0;
    color: black;
	
   font-size: 14px;
   
}
.Register-Box .form-control:focus,
.Register-Box .form-control:valid{
	
  border-bottom: 2px solid #fc7323;
}
.Register-Box .btn-enviar[type="submit"]:focus,
.Register-Box .btn-enviar[type="submit"]:valid{
	
  border-bottom: none;
}

.Register-Box i{
	position: absolute;
	top: 10px;
	right: 0;
	 background:#fc7323;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	

}




.radio, .checkbox{
margin-top: 10px;
margin-bottom: 10px;


}

.FormRegister input[type="checkbox"],
.FormRegister input[type="radio"]{

  display: none;
}
.FormRegister .checkbox .label-opciones,
.FormRegister .radio .label-opciones{
 
color:#fc7323;
  padding: 5px 15px 5px 30px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease; 
}

.FormRegister .checkbox .label-opciones:hover,
.FormRegister .radio .label-opciones:hover{
  background: rgba(0,116,217,0.1);
}
.FormRegister .checkbox .label-opciones:before,
.FormRegister .radio .label-opciones:before{
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background: none;
  border: 2px solid #fc7323;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  margin-top: 3px;

}
.FormRegister .checkbox .label-opciones:before
{
border-radius: 3px;
}

.FormRegister input[type="checkbox"]:checked + .label-opciones,
.FormRegister input[type="radio"]:checked + .label-opciones{
padding: 5px 15px;
background: #fc7323;
border-radius: 2px;
color: #fff;


}

.FormRegister input[type="checkbox"]:checked + .label-opciones:before,
.FormRegister input[type="radio"]:checked + .label-opciones:before{
  display: none;

}

.checkbox .label-opciones a{

  text-decoration: none;
  color: #00b5f3;
}

#msg_error{
	display: none;
	font-size: 18px;
	color: #fff;
   background-color:#fc7323 !important;
 
	margin-top: 10px;
	border-radius: 2px;
 
	padding: 10px;
}

#msg_success{
display: none;	
background: #2696f3;
padding: 10px;



border-radius: 2px;



}

.icon-checkmark{
	color: #fff;
	

}
#msg_success a{
text-decoration: none;
color: #fff;
font-family: 'Titillium Web', sans-serif;
	
}





@media screen and (max-width: 768px) {
	.Register-Box form{
		width: 100%;
		box-shadow: none;
	}
	
}

